<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Posts</h1>
    <ul>
    <% posts.forEach( el => { %>
            <li class='postItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.post %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.displayName %> has posted <%= left %>.</h2>

    <form action="/posts/createPost" method='POST'>
        <input type="text" placeholder="Enter Post Title" name='titleItem'>
        <input type="text" placeholder="Enter Post Text" name='postItem'>
        
        <input type="submit">
    </form>

    <a href="../auth/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>